html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-size: 14px;
  color: $grey;
  line-height: 1.16;
  background-color: $white;
  @extend %dmsans-500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--fluid {
    max-width: 1800px;
  }
}

.title {
  font-size: 36px;
  line-height: 1.16;
  @extend %dmsans-700;
  color: darken($title, 20%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}