@import "fonts";

$white: #fff;
$text: #436372;
$title: #243f4d;
$accent: #a3bbc8;
$bg: #fcd7b6;
$grey: #7b7b7b;


%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

// %btn {
//   position: relative;
//   font-size: 15px;
//   line-height: 15;
//   @extend %rubik-500;

//    &::after {
//     content: '';
//     position: absolute;
//     width: 23px;
//     height: 10px;
//     right: 20px;
//     top: 50%;
//     transform: translateY(-50%);
    
//   }

// }