.filter-aside {
  margin-bottom: 50px;
  background-color: $white;


  &__title {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    padding-right: 55px;

    color: $title;
    font-size: 18px;
    line-height: 1;

    @extend %dmsans-700;
    text-transform: uppercase;

    @include breakpoint($tablet-bp) {
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 40px;
      height: 3px;

      background-color: $accent;
      transform: translateY(-50%);

      @include breakpoint($tablet-bp) {
        width: 0;
        height: 0;

        background-color: $white;
        border-style: solid;
        border-width: 10px 20px 0 20px;
        border-color: $accent transparent transparent transparent;

        transition: border-width 0.2s ease-in;
      }
    }

    &.filter-aside__title--no-before {

      &::before {
        display: none;
      }
    }

    &--rotate-triangle {

      &:before {

        @include breakpoint($tablet-bp) {
          border-width: 0px 20px 10px 20px;
          border-color: transparent transparent $accent transparent;
        }
      }
    }
  }

  // &__form-category,
  // &__form-price,
  // &__form-brand {

  //   @include breakpoint($tablet-bp) {
  //     display: none;
  //   }
  // }


  &__label {
    display: block;
    cursor: pointer;

    @include breakpoint($tablet-bp) {
      display: none;
    }
  }

  &__input {

    &:checked {

      &+.filter-aside__category,
      &+.filter-aside__span-box {
        background-color: rgba($accent, 0.2);
      }

      &:hover {

        &+.filter-aside__category,
        &+.filter-aside__span-box {
          background-color: rgba($accent, 0.2);
        }
      }
    }

    &:hover {

      &+.filter-aside__category,
      &+.filter-aside__span-box {
        background-color: rgba($accent, 0.05);
      }
    }
  }

  &__quantity,
  &__brand,
  &__category {
    position: relative;
    display: block;
    padding: 0 15px;

    @extend %rubik-400;
    color: $title;
    line-height: 2.7;
    font-size: 16px;
  }

  &__category {
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      right: 19px;
      top: 50%;
      width: 7px;
      height: 12px;

      background-image: url('../images/icon/arrow-showmore.svg');
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }

  &__span-box {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

    border-radius: 5px;
  }

  &__from,
  &__to {
    position: relative;
    display: inline-block;
    padding-left: 10px;

    color: $title;
    @extend %rubik-400;

    &::before {
      content: '$';
      position: absolute;
      left: 0;
    }
  }

  .irs--flat .irs-min,
  .irs--flat .irs-max,
  .irs--flat .irs-from,
  .irs--flat .irs-to {
    display: none;
  }

  .irs--flat .irs-line {
    top: 5px;
    height: 3px;
    background-color: $accent;

  }

  .irs--flat .irs-bar {
    top: 4px;
    height: 5px;
    background-color: darken($accent, 5%);
  }

  .irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    background-color: $accent;
    top: -1px;
  }

  .irs--flat .irs-handle>i:first-child {
    width: 0;
  }

  .irs--flat .irs-single {
    font-size: 0;
    background-color: transparent;

    &::before {
      border-top-color: transparent;
    }
  }
}