.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 270px;
  min-height: 380px;
  padding: 30px;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &:hover {

    .product-card__links {
      opacity: 1;
    }
  }

  &.product-card--list {
    flex-direction: row;
    padding: 0;
    align-items: center;
    box-shadow: none;

    @include breakpoint($tablet-bp) {
      display: block;
      text-align: center;
    }

    .product-card__links {
      display: none;
    }

    .product-card__image {
      height: 500px;
      margin-bottom: 30px;
      margin-right: 60px;
      padding: 80px 26px 0;
      min-width: 370px;

      border: 1px solid #f2f2f2;

      @include breakpoint($tablet-bp) {
        max-height: 250px;
        min-width: unset;
        margin-right: 0;
        padding-top: 20px;
      }
    }

    .product-card__img {
      object-fit: contain;

      @include breakpoint($tablet-bp) {
        margin: 0 auto;
      }
    }

    .product-card__info {
      display: none;
    }

    .product-card__list {
      display: block;
    }
  }

  &__image {
    margin: auto auto 67px;
  }

  &__img {
    display: block;
    max-width: 100%;
    min-height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__info {
    text-align: center;
  }

  &__name {
    margin-bottom: 12px;

    @extend %dmsans-500;
    font-size: 16px;
    line-height: 1.2;
    color: $title;

    a {
      color: inherit;

      &:hover {
        color: $accent;
      }

      &:focus {
        color: lighten($title, 20%);
      }

      &:active {
        color: darken($title, 20%);
      }
    }
  }

  &__price {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: $accent;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s linear;

    @include breakpoint($tablet-bp) {
      border-radius: 30px;
      opacity: 1;
      background-color: rgba(163, 187, 200, 0.2);
      box-shadow: 0 0 4em 0em #a3bbc8;
    }
  }

  &__list {
    display: none;
  }

  &__icon {
    position: relative;
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0 20px;

    @extend %btn;
    font-size: 0;
    background-color: transparent;
    outline: transparent;

    &--btn-active {

      use {
        fill: green;
      }
    }

    svg {
      filter: drop-shadow(-2px 2px 2px rgba(252, 215, 182, 0.9));
    }

    use {
      fill: $accent;
    }

    &::before {
      content: '';
      position: absolute;
      width: 46px;
      height: 46px;

      border-radius: 50%;
      background-color: $white;
      z-index: -1;
      box-shadow: inset 0px -3px 3px $bg;
      transition: background-color 0.4s linear,
        box-shadow 0.3s linear;
    }

    &:hover {

      &::before {
        background-color: $accent;
        box-shadow: none;
      }

      use {
        fill: $white;
      }
    }

    &:focus {

      &::before {
        background-color: darken($accent, 20%);
      }

      use {
        fill: darken($white, 10%);
      }
    }

    &:active {

      use {
        fill: darken(red, 20%);
      }
    }
  }

  &__svg {
    width: 20px;
    height: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__title-link {
    font-size: 40px;
    transition: color 0.5s linear;

    &:hover {
      color: $accent;
    }

    &:focus {
      color: lighten($color: $title, $amount: 5%);
    }

      &:active {
        color: lighten($color: $title, $amount: 10%);
      }

    @include breakpoint($tablet-bp) {
      font-size: 30px;
    }
  }

  &__cost {
    margin-bottom: 30px;
    font-size: 30px;
  }

  &__title-link,
  &__cost {
    color: darken($title, 20%);
    line-height: 1;
    @extend %rubik-400;
  }

  &__star {
    display: block;
    width: 100%;
    margin-bottom: 40px;

    @include breakpoint($tablet-bp) {
      margin: 0 auto 20px;
    }
  }

  .jq-ry-group.jq-ry-rated-group {
    width: 100%;
  }

  &__text {
    margin-bottom: 20px;

    @extend %rubik-400;
    line-height: 1.87;
    color: $title;
  }

  &__btn {
    display: inline-block;
    padding: 16px 50px;

    color: $white;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;

    border: 1px solid transparent;
    border-radius: 5px;
    background-color: $accent;

    transition: background-color 0.3s linear,
      color 0.3s linear;

    &:hover {
      background-color: darken($white, 5%);
      color: $accent;
    }

    &:focus {
      background-color: darken($accent, 5%);
    }

    &:active {
      border-color: darken($accent, 5%);
    }
  }

  // &__btn-heart {

  //   &.product-card__btn-heart--active {

  //     path {
  //       fill: darken(red, 20%);
  //     }
  //   }
  // }
}