.object-new {
  max-width: 370px;
  min-height: 250px;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 40px 0 30px 40px;
  background-color: rgb(248, 248, 248);
  position: relative;
  overflow: hidden;
  &__link {

    &:active {

      .object-new__title {
        color: darken($accent, 13%);
      }
    }

    &:hover {

      .object-new__img {
        transform: scale(1.1);
      }

      .object-new__title {
        color: darken($accent, 13%);
      }
    }

    &:focus {
      outline-color: $accent;
    }
  }

  &__info {
    position: relative;
    z-index: 2;
  }

  // &__title-link {
  //   @extend %dmsans-700;
  //   font-size: 20px;
  //   line-height: 1.2;
  //   color: darken($title, 20%);
  //   transition: color 0.2 linear;

  //   &:active {
  //     color: $bg;
  //   }

  //   &:hover {
  //     color: darken($accent, 13%);
  //   }

  //   &:focus {
  //     outline-color:$accent;
  //   }
  // }

  &__title {
    max-width: 180px;
    width: 100%;
    margin-bottom: 10px;
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 1.2;
    color: darken($title, 20%);
    transition: color 0.3 linear;
  }

  &__type {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.2;
    color: $accent;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s linear;
  }
}