.services {
  padding: 45px 0 45px 35px;
  background-color: lighten($bg, 11%);
  display: flex;
  justify-content: space-around;

  @include breakpoint($tablet-bp) {
    display: block;
  }

  &__item {
    flex: 0 0 309px;
    padding-left: 90px;
    

    @include breakpoint($tablet-bp) {
      margin-bottom: 35px;
      padding-bottom: 5px;
    }

   
  }
}