.user-nav {
  display: flex;

  &__cabinet {
    display: flex;
    min-height: 50px;
    margin: 0 20px;
    padding: 0px 10px;
    border-radius: 25px;
    background-color: $bg;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 34px;
      background-color: $white;

    }



    span {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 5px;
      right: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 1.8;
      background-color: $white;
      font-size: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    

    path {
      transition: fill 0.3s linear;
    }

    &:focus {
      background-color: darken($bg, 10%);
    }

    &:hover {

      path {
        fill: darken(red, 20%);
      }
    }

    &:active {
      background-color: $white;
    }
  }

  &__link-heart,
  &__link-basket {
    position: relative;
    padding: 0 30px;
  }

  &__link-find {
    background-color: lighten($accent, 20%);
  }

  &__link-menu {
    background-color: $accent;
  }
}
