.bredcrumbs {
  margin-top: 140px;
  padding: 30px 0 29px;
  // margin-bottom: 120px;
  text-align: center;
  background-color: lighten($accent, 20%);

  @include breakpoint($mobile-bp) {
    margin-top: 180px;
  }

  &__title {
    margin-bottom: 11px;

    font-size: 36px;
    color: $title;
    @extend %rubik-300;
    line-height: 1;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {

    &:not(:first-child) {
      position: relative;

      padding-left: 17px;
      margin-left: 12px;

      &::before {
        content: '/';
        position: absolute;
        left: 0;
        top: 3px;
        
        color: $grey;
      }
    }

    &--active {

      .bredcrumbs__link {

        text-shadow: 1px 0px 0px darken($title, 5%);
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.7;
    color: $title;
    @extend %rubik-400;
    transition: color 0.3s linear,
      text-shadow 0.3s linear;

    &:hover {
      text-shadow: 1px 0px 0px darken($title, 10%);
    }

    &:focus {
      color: darken($text, 20%);
    }

    &:active {
      color: $text;
    }
  }
}