.contact {
  padding-top: 117px;

  @include breakpoint($desktop-bp) {
    padding-top: 80px;
  }

  @include breakpoint($mobile-bp) {
    padding-top: 40px;
  }

  &__uptitle {
    display: block;
    margin-bottom: 10px;

    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.25;
    color: $accent;
  }

  &__title {
    margin-bottom: 66px;
    text-align: center;

    @extend %dmsans-700;
    font-size: 35px;
    color: lighten($color: $title, $amount: 10%);
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 380px;
    grid-gap: 30px;
    margin-bottom: 125px;

    font-style: inherit;

    @include breakpoint($tablet-bp) {
      display: block;
      margin-bottom: 80px;
    }

    @include breakpoint($mobile-bp) {
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 70px 35px;

    border: 1px solid transparent;
    background-color: lighten($accent, 26%);

    transition: border-color 0.3s linear;

    @include breakpoint($tablet-bp) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 50px 35px;
      margin-bottom: 20px;

      box-shadow: inset 0px 1px 10px 1px $bg;
    }

    &:last-child {

      @include breakpoint($tablet-bp) {
        margin-bottom: 0;
      }
    }

    &:hover {
      border-color: $accent;

      .contact__item-svg {
        background-color: $accent;
      }

      .contact__svg {

        use {
          fill: $white;
        }
      }
    }
  }

  &__item-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 0 auto auto;

    background-color: $white;
    border-radius: 20px;

    transition: background-color 0.5s linear;

    @include breakpoint($tablet-bp) {
      margin: 0;
    }

    @include breakpoint($mobile-bp) {
      display: none;
    }
  }

  &__svg {
    height: 40px;
    width: 40px;

    use {
      fill: $accent;

      transition: fill 0.5s linear;
    }
  }

  &__mobile-box {

    @include breakpoint($tablet-bp) {
      max-width: 300px;
      width: 100%;
      margin-left: 40px;
    }

    @include breakpoint($mobile-bp) {
      margin-left: 0;
    }
  }

  &__mark {
    margin-bottom: 25px;

    @extend %dmsans-700;
    font-size: 20px;
    color: darken($color: $title, $amount: 20%);
    line-height: 1.3;
  }

  &__text {
    @extend %rubik-400;
    color: #565872;
    line-height: 1.9;
  }

  &__link {
    font-style: inherit;
    color: $grey;
    transition: color 0.3s linear;

    &:hover {
      color: $accent;
    }

    &:focus {
      color: darken($grey, 10%);
    }

    &:active {
      color: darken($accent, 10%);
    }
  }

  &__location {
    display: flex;

    @include breakpoint($tablet-bp) {
      display: block;
    }
  }

  &__form-blog {
    max-width: 620px;
    width: 100%;
    margin-top: 0;

    @include breakpoint($tablet-bp) {
      max-width: 100%;
      margin-bottom: 60px;
    }

    @include breakpoint($mobile-bp) {
      margin-bottom: 40px;
    }
  }

  &__map {
    margin-left: 50px;

    iframe {
      width: 500px;

      @include breakpoint($tablet-bp) {
        width: 100%;
      }
    }

    @include breakpoint($tablet-bp) {
      margin-left: 0;
    }
  }
}