.sub-about {
  background-color: $bg;

  &__services.services {
    padding: 55px 0 80px 0;
    background-color: $bg;
  }



  .service {
    min-width: 25%;
    text-align: center;
    padding-top: 104px;
    padding-left: 0;
    position: relative;


    @include breakpoint($tablet-bp) {
      max-width: 540px;
      text-align: center;
      margin-bottom: 40px;
      z-index: 1;
      padding-bottom: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 80%;
      min-height: 100%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      // background-color: rgba(148, 45, 45, 0.1);
      background: rgb(163, 187, 200);
      background: linear-gradient(120deg, rgba(163, 187, 200, 1) 0%, rgba(252, 215, 182, 1) 100%);
      z-index: -1;
      left: 0;
      top: 0;
      transition: background-color 0.4s linear,
        box-shadow 0.3s linear;
      opacity: 0;
      border: 1px solid $grey;

      @include breakpoint($tablet-bp) {
        opacity: 0.2;
      }
    }

    &:nth-child(odd) {
      @include breakpoint($tablet-bp) {
        margin-right: auto;
      }

      &::before {
        @include breakpoint($tablet-bp) {
          top: 30px;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &::after {
        
        @include breakpoint($mobile-bp) {
         left: 40px;
        }
      }
    }

    &:nth-child(even) {

      @include breakpoint($tablet-bp) {
        margin-left: auto;
      }

      &::before {

        @include breakpoint($tablet-bp) {
          top: 30px;

          right: 50%;
          left: auto;
          transform: translateX(50%);
        }
      }

      &::after {

        @include breakpoint($tablet-bp) {
          right: 0;
          left: auto;
          border-top-left-radius: 0;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 0%;
          border-bottom-left-radius: 50%;
          background: linear-gradient(13deg, #a3bbc8 0%, #fcd7b6 100%);
        }

        @include breakpoint($mobile-bp) {
          right: 40px;
        }
      }
    }

    &::before {
      left: 0;
      right: 0;
      margin: 0 auto;

      @include breakpoint($tablet-bp) {
        margin: 0;
      }
    }
  }
}