.main-slider {
  padding-top: 146px;

  &__inner {
    padding: 95px 180px 28px 300px;
    background-color: $bg;
  }

  .slick-slider {

    li {
      margin: 0 6px;
    }

    button {
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 50%;
      background-color: rgba($white, 0.32);
      font-size: 12px;
      line-height: 2.5;
      @extend %rubik-500;
      border: 1px solid transparent;
      cursor: pointer;
      transition: background-color 0.3s linear,
        border-color 0.3s linear;
      outline: transparent;


      &:focus {
        background-color: lighten($grey, 40%);
      }

      &:hover {
        background-color: rgba($white, 0.6);
        border-color: darken($bg, 10%);
      }

      &:active {
        background-color: lighten($text, 40%);
      }
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 44px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
  }

  .slick-active {

    button {
      background-color: rgba($white, 1);
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding-top: 120px;
  }

  &__title {
    max-width: 464px;
    color: $title;
    font-size: 72px;
    line-height: 1;
    @extend %rubik-500;
    text-transform: uppercase;

    p {
        font-size: 18px;
        line-height: 1.7;
        margin: 22px 0 30px 0;
        text-transform: none;
        color: $text;
        @extend %rubik-400;
    }
  }

  &__subtitle {
  

  }

  &__link {
    padding: 23px 100px 20px 30px;
    @extend %rubik-500;
    display: inline-block;
    @extend %btn;
    transition: background-color 0.4s linear;
    position: relative;
    outline: transparent;

    &::after {
      content: '';
      position: absolute;
      width: 23px;
      height: 10px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/icon/arrow-btn.svg);
    }

    &:focus {
      color: $title;
    }

    &:hover {
      background-color: darken($accent, 10%);
    }

    &:active {
      background-color: lighten($text, 20%);
    }
  }

  &__img-box {
    position: relative;
    padding: 170px 100px 200px 0;

    &::before {
      content: '';
      position: absolute;
      background: rgb(255, 255, 255);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%);
      border-radius: 50%;
      background-position: right;
      height: 634px;
      width: 609px;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }
}