.new {
  padding: 67px 0 0px;
  background-color: $white;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__filters {
    margin-bottom: 65px;

    @include breakpoint($mobile-bp) {
      overflow: auto;
    }
  }


  // &__card {
  //   margin: 0 0 45px 30px;
  // }

  .mixitup-control-active {
    color: darken($title, 20%);
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 5px;
    margin-left: -30px;
    margin-bottom: 60px;

    @include breakpoint($desktop-bp) {
      margin-left: 0;
      justify-content: center;
    }

    @include breakpoint($mobile-bp) {
     margin-bottom: 0;
    }
  }

  &__object {

    &.object-new {

      @include breakpoint($desktop-bp) {
        max-width: 40%;
        margin: 0 15px 30px 15px;
      }

      @include breakpoint($tablet-bp) {
        max-width: 80%;
      }
    }

    .object-new__image {

      @include breakpoint($tablet-bp) {
        right: 10%;
      }
    }

    .object-new__link {
      box-shadow: -47px 0px 25px -6px rgba(252, 215, 182, 0.21) inset;
    }



  }


}